{{ 'header.css' |  asset_url |  stylesheet_tag }}


<header class="nav-bar__container">
  <div class="nav-bar__items">
    <a href="#" class="site-nav__link--icon">
      {%  render 'icon-hamburger' %}
    </a>
    <a href="/">
      <img src="{{ section.settings.desktop_logo |  image_url: width: section.settings.desktop_logo.width }}" class="header__brand-logo">
    </a>
    {% comment %} <a href="{{ routes.cart_url }}" class="site-nav__link site-nav__link--icon js-drawer-open-cart" aria-controls="CartDrawer">
      {%  render 'icon-cart-bag' %} 
    </a> {% endcomment %}
    <a href="{{ routes.cart_url }}" class="site-nav__link site-nav__link--icon js-drawer-open-cart" aria-controls="CartDrawer" data-icon="{{ settings.cart_icon }}">
      {%  render 'icon-cart-bag' %}
    </a>
  </div>
  <div class="nav-drawer__container">
    <div class="nav-drawer__header">
      <img src="{{ section.settings.desktop_logo |  image_url: width: section.settings.desktop_logo.width }}" class="header__brand-logo">
      <span>
        
      </span>
    </div>
  </div>
</header>

{%  schema  %} 
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "desktop_logo",
      "label": "Logo"
    }
  ]
}

{% endschema %}